//Border radius
@radiusButton: 8px;
@radiusCard: 8px;
@radiusSearch: 5px;
//Colors
@colorBlueAccent: #3369F3;
@colorBlueAccentHover: #0056b3;
@colorGrey: #FBFBFB;
@colorGreyAccent: #EAEAEA;
@colorBlack: #1E1E1E;
@colorBlackLight: #999999;
@colorDanger: #FF0000;
@colorProfileAvatar: #EFEFEF;

@colorChatMessageLeft: #F8F8F8;;
@colorChatMessageRight: #E4EDFD;

body {
  margin: 0;
  font-family: Inter, sans-serif;
}

.flex-middle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

a {
  text-decoration: none;
}

// Text
.text_dark {
  color: @colorBlack;
}

.text_light {
  color: @colorBlackLight;
}

.text_info {
  color: @colorBlueAccent;
}

.text_danger {
  color: @colorDanger;
}

// Login and sign in forms
.card {
  width: 340px;
  min-height: 460px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: @radiusCard;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
  padding: 20px;
}

.card__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__title {
  font-size: 20px;
  margin-bottom: 40px;
}

.card__link {
  margin-top: 15px;
  color: @colorBlueAccent;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
  text-decoration: none;
}

.login-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1;
  gap: 30px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.login-form__field {
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.login-form__label {
  font-size: 12px;

}

.login-form__input {
  padding: 10px 0;
  font-size: 13px;
  border-bottom: solid 2px @colorBlueAccent;
  border-top: none;
  border-left: none;
  border-right: none;

  &:focus {
    outline: none;
  }

  &.invalid {
    border-bottom: solid 2px @colorDanger;
  }
}

.button {
  width: 100%;
  max-width: 280px;
  padding: 10px 20px;
  background-color: @colorBlueAccent;
  color: white;
  border: none;
  border-radius: @radiusButton;
  cursor: pointer;
  font-size: 14px;
}

.button:hover {
  background-color: @colorBlueAccentHover;
}

// Error page
.error {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error__code {
  color: @colorBlack;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  margin-bottom: 20px;
}

.error__title {
  color: @colorBlack;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.error__link {
  color: @colorBlueAccent;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
  margin-top: 60px;
  cursor: pointer;
}

//profile
.profile {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
}

.profile__bar {
  width: 70px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: @colorGrey;
  box-shadow: 1px 0 1px 0 @colorGreyAccent;
}

.profile__content__avatar {
  position: relative;
  width: 130px;
  height: 130px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: @colorProfileAvatar;

  &:hover {
    .profile__content__avatar_active {
      opacity: 1;
      transition: 250ms;
    }
  }
}

.profile__content__avatar_active {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  box-sizing: border-box;
  padding: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: @colorGreyAccent;
  background: rgb(30 30 30 / 50%);
  cursor: pointer;
}

.profile__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile__content__username {
  font-size: 20px;
  margin: 20px;
  font-weight: bold;
}

.profile__content__list {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.profile__content__list__item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: solid 1px @colorGreyAccent;

  &:last-child {
    border-bottom: none;
  }
}

//profile-edit
.profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.profile-form__input {
  outline: none;
  border: none;
  text-align: right;
  padding-bottom: 5px;

  &:focus {
    border-bottom: solid 1px @colorBlueAccent;
  }

  &.invalid {
    border-bottom: solid 1px @colorDanger;
  }
}

//Chat
.chat-panel {
  width: 25%;
  height: 100%;
  box-sizing: border-box;
  padding: 0 10px;
  background: @colorGrey;
  border-right: 1px solid @colorGreyAccent;
}

.chat-panel__header {
  height: auto;
  display: flex;
  flex-direction: column;

  .chat-panel__header__link {
    width: 100%;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
    text-align: right;
    font-size: 13px;
  }

  .chat-panel__header__input {
    width: 100%;
    height: 32px;
    margin-bottom: 15px;
    background: @colorGreyAccent;
    border-radius: @radiusSearch;
    outline: none;
    border: none;
    text-align: center;
  }
}

.chat-panel__list {
  margin: 0;
  padding: 0;
}

.chat-panel__list__item {
  height: 47px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 12px 0;
  border-top: solid 1px @colorGreyAccent;

  .chat-panel__list__item__avatar {
    width: 47px;
    height: 47px;
    border-radius: 100%;
    background: @colorProfileAvatar;
  }

  .chat-panel__list__item__content {
    flex: 1;

    .title {
      font-size: 15px;
    }

    .text {
      font-size: 14px;
      overflow: hidden;
      height: 30px;
    }
  }

  .chat-panel__list__item__notify {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;

    .time {
      font-size: 10px;
    }

    .notify {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      background: @colorBlueAccent;
      border-radius: 100%;
      font-size: 12px;
      color: white;
    }
  }
}

.chat-feed {
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 20px;
}

.chat-feed__top-bar {
  height: 54px;
  border-bottom: 1px solid @colorGreyAccent;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .chat-feed__top-bar__profile {
    display: flex;
    align-items: center;
    gap: 15px;

    .avatar {
      width: 34px;
      height: 34px;
      border-radius: 100%;
      background: @colorGreyAccent;
    }

    .name {
      font-size: 16px;
    }
  }

  .chat-feed__top-bar__menu {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: @colorGreyAccent;

    .circle {
      fill: @colorBlueAccent;
    }
  }
}

.chat-feed__messages {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
  box-sizing: border-box;
  padding: 30px 0;
  overflow: auto;

  .data {
    align-self: center;
    font-size: 14px;
  }

  .message {
    width: fit-content;
    box-sizing: border-box;
    padding: 10px;
    max-width: 400px;
    font-size: 14px;

    .time {
      float: right;
      padding: 5px 0 0 5px;
      font-size: 10px;
    }
  }

  .message_left {
    background: @colorChatMessageLeft;
    border-radius: 0 10px 10px;
    align-self: flex-start;

    .time {
      color: @colorBlackLight
    }
  }

  .message_right {
    background: @colorChatMessageRight;
    border-radius: 10px 10px 0;
    align-self: flex-end;

    .time {
      color: @colorBlueAccent;
    }
  }

}

.chat-feed__bottom-bar {
  height: 54px;
  border-top: 1px solid @colorGreyAccent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  input {
    flex: 1;
    height: 32px;
    box-sizing: border-box;
    padding: 10px 20px;
    outline: none;
    border: none;
    border-radius: 30px;
    background: @colorGreyAccent;
  }

}


